<div class="site-menubar site-menubar-light">
	<div class="site-menubar-body">
		<div>
			<div>
				{{ knp_menu_render('menubar', { template: 'Menu/base_menubar.html.twig', currentClass: 'active', ancestorClass: 'active'} ) }}
			</div>
		</div>
	</div>
</div>